section{
	padding-top: 60px;
}
.indicaciones{
	color:black;
	
}
.jqte_editor{
	min-height: 200px;
	max-height: 350px; 
	overflow-y:scroll;
}
#navGuias{
	border-radius: 5px;
	background-color: rgba(100,100,100,0.7);
	padding: 10px;

}
#navGuias span{
	border:white 2px solid;
	margin-top: 5px;
	border-radius: 15px;
	padding: 5px 15px;
	background-color: CornflowerBlue;
	cursor: pointer;
}
#procedimientos{
	color:black;
}

#editor, #vistaPrev, #mostrar{
	width: 35%;
	float: left;
}
#mostrar{
	width: 5%;
	border:white 2px solid;
	margin-top: 5px;
	border-radius: 15px;
	padding: 25px 15px;
	background-color: CornflowerBlue;
	cursor: pointer;
	height: 100%;
	margin-left:50px;
	font-size: 50pt;
	line-height: 50pt;
	color:rgba(100,100,100,0.5);
	text-align: center;
}
#editor{
	padding-left: 50px;
}
#editor input{
	width: 95%;
	border-radius: 20px;
	padding: 5px;
	margin: 0px 10px;	
}
#editor h3{
	padding-bottom: 2px;
	margin-bottom: 1px;
}
#vistaPrev{
	background-color: silver;
	height: 100%;
	margin-left: 5%;
}
#guardar{
	border:white 2px solid;
	margin-top: 5px;	
	border-radius: 15px;
	padding: 5px 15px;
	background-color: CornflowerBlue;
	cursor: pointer;
}
#instrucciones{
    background-color: rgba(240,255,255,0.8);

}
#instrucciones .indicaciones{
	height: 85%;
	max-height: 700px;
	background-color: rgba(200,210,210,0.1);
	overflow-y: scroll;
	padding: 5px;
}
#guardar{
    cursor: pointer;
}
#instrucciones #pasos{
    height: 10%;
    border-bottom: gray solid 1px;
    background-color: rgba(190,210,210,1);
    padding: 0px 10px;
}
#instrucciones #indicaciones{
    height: 90%;
    background-color: rgba(200,210,210,0.1);
    overflow-y: auto;
}
#instrucciones #indicaciones .indicaciones, h2{
    padding: 5px 10px;
}
#instrucciones #indicaciones .procedimiento{
    background-color: rgba(240,255,255,0.9);
    padding: 5px 10px;
}


#bold{
	cursor: pointer;
}

#clear{
	clear: both;
}

