<span class="nombreGuia">Ejemplo11</span>
<input type="hidden" class="npasos" value="5">
<div class="paso1 de5">
	<h2>Primera indicacion</h2>
	<div class="indicaciones">
		<p>Todos los pasos para la indicacion1 del ejemplo1</p>
	</div>
	<div class= "procedimiento">
		<p>Ejercicio1 que debe hacer para el ejemplo1</p>
	</div>
	<div class="evaluacion">
		<input type="hidden" value="">
	</div>
</div>
<div class="paso2 de5">
	<h2>Segunda indicacion</h2>
	<div class="indicaciones">
		<p>Todos los pasos para la indicacion2</p>
	</div>
	<div class= "procedimiento">
		<p>Ejercicio2 que debe hacer</p>
	</div>
	<div class="evaluacion">
		<input type="hidden" value="">
	</div>
</div>
<div class="paso3 de5">
	<h2>Tercera indicacion</h2>
	<div class="indicaciones">
		<p>Todos los pasos para la indicacion3</p>
	</div>
	<div class= "procedimiento">
		<p>Ejercicio3 que debe hacer</p>
	</div>
	<div class="evaluacion">
		<input type="hidden" value="">
	</div>
</div>
<div class="paso4 de5">
	<h2>Cuarta indicacion</h2>
	<div class="indicaciones">
		<p>Todos los pasos para la indicacion4</p>
	</div>
	<div class= "procedimiento">
		<p>Ejercicio4 que debe hacer</p>
	</div>
	<div class="evaluacion">
		<input type="hidden" value="">
	</div>
</div>
<div class="paso5 de5">
	<h2>Quinta indicacion</h2>
	<div class="indicaciones">
		<p>Todos los pasos para la indicacion5</p>
	</div>
	<div class= "procedimiento">
		<p>Ejercicio5 que debe hacer</p>
	</div>
	<div class="evaluacion">
		<input type="hidden" value="">
	</div>
</div>